.header {
  padding: 40px 0 30px;
}

.header-title {
  max-width: 146px;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .header {
    padding: 50px 0;
  }

  .header-title {
    min-width: 347px;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 1px;
  }
}