/*.list-cards {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 300px;
}

.list-news {
  list-style: none;
  display: flex;
  margin-bottom: 30px;
}

.list-image {
  position: relative;
  transition: transform 0.3s, filter 0.3s;
}

.list-body {
  max-width: 132px;
  padding-left: 12px;
}

.list-title {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 18.66px;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.list-description {
  font-size: 10px;
  line-height: 15px;
  margin: 0;
}

.list-news:hover .list-title {
  color: #FF7931; 
}

.list-news:hover .list-image img {
  filter: brightness(0.7);
}

.list-news:hover .icon-overlay {
  opacity: 1;
}